.button-pa_view_light:not(:disabled) {
    box-shadow: inset 0 0 0 2px currentColor;
    background-color: transparent;
}

.button-pa_view_light:not(:disabled):hover {
    color: var(--button-accent-color);
}
