.button-pa {
    --button-accent-color: darkViolet;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.15s ease-in, color 0.15s ease-in, transform 0.15s ease-out;
}

.button-pa:disabled {
    background-color: lightgrey;
    color: grey;
}

.button-pa:not(:disabled):active {
    transform: scale(0.96);
}
