.button-chiglintsev {
    --button-accent-color: Crimson;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.15s ease-in, color 0.15s ease-in, transform 0.15s ease-out;
}

.button-chiglintsev:disabled {
    color: gray;
    background-color: lightgray;
}

.button-chiglintsev:not(:disabled):active {
    transform: scale(0.96);
}
