.button-dariaborisenko {
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.button-dariaborisenko:disabled {
    border: none;
    color: gray;
    background-color: lightgray;
}

.button-dariaborisenko:not(:disabled):active {
    transform: scale(0.96);
}
