.button-dariaborisenko_view_light {
    border-width: 2px;
    border-color: black;
    background-color: white;
}

.button-dariaborisenko_view_light:not(:disabled):hover {
    border-color: blue;
    color: blue;
}
