.button-vlad {
    --button-accent-color: darkcyan;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.15s ease-in, color 0.15s ease-in, transform 0.15s ease-out;
}

.button-vlad:not(:disabled) {
    cursor: pointer;
}

.button-vlad:not(:disabled):active {
    transform: scale(0.96);
}

.button-vlad:disabled {
    color: gray;
    background-color: lightgray;
}

.button-vlad:focus-visible {
    outline: solid 2px var(--button-accent-color);
}
